@font-face {
  font-family: 'Nunito';
  src: url('./fonts/NunitoSans.woff2') format('woff2');
  font-weight: 100 1000;
  font-display: swap;
}

:root {
  --primary: hsl(180, 50%, 50%);
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e1dc;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  gap: 24px;
  padding: 20px;
  border-radius: 10px;
  background-color: #373c4f;
}
#maindetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}
#EveDesc{
  text-align: center;
}